@model Biblioteka.Models.AddFailure

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Dziękujemy</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>Zgłoszenie Przyjęte</h4>
            <h5>Dziękujemy za przesłanie zgłoszenia.</h5>
        </div>
        <div class="panel-body text-center">

            <div class="btn btn-success">
                @Html.ActionLink("Wyjście", "Index")
            </div>

            <div class="btn btn-success">
                @Html.ActionLink("Wyślij Nowe Zgłoszenie", "AddFailureForm")
            </div>

        </div>
    </div>

</body>
</html>

